<div class="example-container">
  <div class="example-header">

    <div>
      <label>Year</label>
      <select placeholder="selectedValue" #filterYear class='form-control'  [(ngModel)]="selectedVvalue">
      <option *ngFor="let yearOption  of yearOptions" [value]="yearOption.value">{{yearOption.value}}</option>
    </select>
    </div>

  </div>

  <mat-table #table [dataSource]="dataSource" class="table">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef> source </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.source}}% </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="label1">
      <mat-header-cell *matHeaderCellDef> label1 </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.label1}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="label2">
      <mat-header-cell *matHeaderCellDef> label2 </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.label2}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>