<md-card class="col-sm-6">
  <md-card-header>
    <md-card-title>Population Migration</md-card-title>
  </md-card-header>
  <md-card-actions>
    <div *ngIf="yearSelection">
      <label>Year</label>
      <select placeholder="selectedYear" class='form-control' (change)="changeYear($event.target)">
            <option *ngFor="let yearOption  of yearSelection" [value]="yearOption.value">{{yearOption.display}}</option>
          </select>
    </div>
  </md-card-actions>
  <md-card-content>
    <div *ngIf="chartData && chartLabels">
        <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [chartType]="chartType"
          [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
  </md-card-content>
</md-card>
