<md-card class="col-sm-6">
  <md-card-header>
    <md-card-title>Population By Comparison Yearly</md-card-title>
  </md-card-header>
  <md-card-actions>
    <div *ngIf="categorySelection">
      <label>Compare</label>
      <select placeholder="selectedCategory1" class='form-control' (change)="changeCategory1($event.target)" [(ngModel)]="selectedCategory1">
          <option *ngFor="let categoryOption  of categorySelection" [value]="categoryOption.value">{{categoryOption.display}}</option>
        </select>
        <select placeholder="selectedCategory2" class='form-control' (change)="changeCategory2($event.target)" [(ngModel)]="selectedCategory2">
          <option *ngFor="let categoryOption  of categorySelection" [value]="categoryOption.value">{{categoryOption.display}}</option>
        </select>
    </div>
  </md-card-actions>
  <md-card-content>
    <div *ngIf="chartData && chartLabels">
        <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [chartType]="chartType"
          [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
  </md-card-content>
</md-card>
