<mat-tab-group class="tab-group">
  <mat-tab label="Overview" class="tab-label">
      <app-linechart></app-linechart>
  </mat-tab>
  <mat-tab label="Population" class="tab-label"> 
    <app-population></app-population>
  </mat-tab>
  <mat-tab label="Population By Age" class="tab-label"> 
    <app-population-by-age></app-population-by-age>
    <app-population-by-age-comparison></app-population-by-age-comparison>
  </mat-tab>
  <mat-tab label="Population Yearly" class="tab-label"> 
    <app-population-yearly-comparison></app-population-yearly-comparison>
  </mat-tab>
  <mat-tab label="Population Migration" class="tab-label"> 
    <app-population-by-migration></app-population-by-migration>
  </mat-tab>
</mat-tab-group>