<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h1> Population Auckland and NZ</h1>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <md-grid-list cols="2" rowHeight="2:1">
    <md-grid-tile>1</md-grid-tile>
    <div class="col-md-6">
      <app-datatable></app-datatable>
    </div>
    <md-grid-tile>2</md-grid-tile>
    <div class="col-md-6">
      <app-barchart></app-barchart>
    </div>
  </md-grid-list>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h1> Population Auckland and NZ</h1>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <md-grid-list cols="2" rowHeight="2:1">
    <md-grid-tile>1</md-grid-tile>
    <div class="col-md-6">
      <app-datatable></app-datatable>
    </div>
    <md-grid-tile>2</md-grid-tile>
    <div class="col-md-6">
      <app-barchart></app-barchart>
    </div>
  </md-grid-list>
</mat-expansion-panel>